# Pandas testing

code location =

https://github.com/anumit-web/Pandas-tutorial-3/

code reference =

https://www.datacamp.com/tutorial/pandas-read-csv

https://blog.dailydoseofds.com/p/you-will-never-use-pandas-describe

https://chatgpt.com/

https://www.meta.ai/

<a id="cell2">Cell 2</a>

<a id="my-cell"></a>
# My Important Cell

In [ ]:
print ("Hello World")

Hello World

In [ ]:
import pandas as pd

In [ ]:
# !wget https://github.com/datasciencedojo/datasets/blob/master/titanic.csv

# titanic csv
https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv

Use titanic data from Stanford university

In [ ]:
!wget https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv

--2024-08-11 12:55:19--  https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv
Resolving web.stanford.edu (web.stanford.edu)... 171.67.215.200, 2607:f6d0:0:925a::ab43:d7c8
Connecting to web.stanford.edu (web.stanford.edu)|171.67.215.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 44225 (43K) [text/csv]
Saving to: ‘titanic.csv.8’

titanic.csv.8       100%[===================>]  43.19K  --.-KB/s    in 0.1s

2024-08-11 12:55:19 (304 KB/s) - ‘titanic.csv.8’ saved [44225/44225]

In [ ]:
df = pd.read_csv('titanic.csv')

print(df.to_string())

     Survived  Pclass                                                                               Name     Sex    Age  Siblings/Spouses Aboard  Parents/Children Aboard      Fare
0           0       3                                                             Mr. Owen Harris Braund    male  22.00                        1                        0    7.2500
1           1       1                                 Mrs. John Bradley (Florence Briggs Thayer) Cumings  female  38.00                        1                        0   71.2833
2           1       3                                                              Miss. Laina Heikkinen  female  26.00                        0                        0    7.9250
3           1       1                                        Mrs. Jacques Heath (Lily May Peel) Futrelle  female  35.00                        1                        0   53.1000
4           0       3                                                            Mr. William Henry Allen    male  35.00                        0                        0    8.0500
5           0       3                                                                    Mr. James Moran    male  27.00                        0                        0    8.4583
6           0       1                                                             Mr. Timothy J McCarthy    male  54.00                        0                        0   51.8625
7           0       3                                                      Master. Gosta Leonard Palsson    male   2.00                        3                        1   21.0750
8           1       3                                   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson  female  27.00                        0                        2   11.1333
9           1       2                                                 Mrs. Nicholas (Adele Achem) Nasser  female  14.00                        1                        0   30.0708
10          1       3                                                     Miss. Marguerite Rut Sandstrom  female   4.00                        1                        1   16.7000
11          1       1                                                            Miss. Elizabeth Bonnell  female  58.00                        0                        0   26.5500
12          0       3                                                      Mr. William Henry Saundercock    male  20.00                        0                        0    8.0500
13          0       3                                                         Mr. Anders Johan Andersson    male  39.00                        1                        5   31.2750
14          0       3                                                Miss. Hulda Amanda Adolfina Vestrom  female  14.00                        0                        0    7.8542
15          1       2                                                     Mrs. (Mary D Kingcome) Hewlett  female  55.00                        0                        0   16.0000
16          0       3                                                                Master. Eugene Rice    male   2.00                        4                        1   29.1250
17          1       2                                                        Mr. Charles Eugene Williams    male  23.00                        0                        0   13.0000
18          0       3                             Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke  female  31.00                        1                        0   18.0000
19          1       3                                                             Mrs. Fatima Masselmani  female  22.00                        0                        0    7.2250
20          0       2                                                                Mr. Joseph J Fynney    male  35.00                        0                        0   26.0000
21          1       2                                                               Mr. Lawrence Beesley    male  34.00                        0                        0   13.0000
22          1       3                                                                 Miss. Anna McGowan  female  15.00                        0                        0    8.0292
23          1       1                                                        Mr. William Thompson Sloper    male  28.00                        0                        0   35.5000
24          0       3                                                       Miss. Torborg Danira Palsson  female   8.00                        3                        1   21.0750
25          1       3                           Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund  female  38.00                        1                        5   31.3875
26          0       3                                                             Mr. Farred Chehab Emir    male  26.00                        0                        0    7.2250
27          0       1                                                      Mr. Charles Alexander Fortune    male  19.00                        3                        2  263.0000
28          1       3                                                                Miss. Ellen O'Dwyer  female  24.00                        0                        0    7.8792
29          0       3                                                                 Mr. Lalio Todoroff    male  23.00                        0                        0    7.8958
30          0       1                                                            Don. Manuel E Uruchurtu    male  40.00                        0                        0   27.7208
31          1       1                                      Mrs. William Augustus (Marie Eugenie) Spencer  female  48.00                        1                        0  146.5208
32          1       3                                                            Miss. Mary Agatha Glynn  female  18.00                        0                        0    7.7500
33          0       2                                                               Mr. Edward H Wheadon    male  66.00                        0                        0   10.5000
34          0       1                                                             Mr. Edgar Joseph Meyer    male  28.00                        1                        0   82.1708
35          0       1                                                      Mr. Alexander Oskar Holverson    male  42.00                        1                        0   52.0000
36          1       3                                                                    Mr. Hanna Mamee    male  18.00                        0                        0    7.2292
37          0       3                                                            Mr. Ernest Charles Cann    male  21.00                        0                        0    8.0500
38          0       3                                                  Miss. Augusta Maria Vander Planke  female  18.00                        2                        0   18.0000
39          1       3                                                         Miss. Jamila Nicola-Yarred  female  14.00                        1                        0   11.2417
40          0       3                                      Mrs. Johan (Johanna Persdotter Larsson) Ahlin  female  40.00                        1                        0    9.4750
41          0       2                            Mrs. William John Robert (Dorothy Ann Wonnacott) Turpin  female  27.00                        1                        0   21.0000
42          1       2                                            Miss. Simonne Marie Anne Andree Laroche  female   3.00                        1                        2   41.5792
43          1       3                                                       Miss. Margaret Delia Devaney  female  19.00                        0                        0    7.8792
44          0       3                                                            Mr. William John Rogers    male  30.00                        0                        0    8.0500
45          0       3                                                                   Mr. Denis Lennon    male  20.00                        1                        0   15.5000
46          1       3                                                           Miss. Bridget O'Driscoll  female  27.00                        0                        0    7.7500
47          0       3                                                                 Mr. Youssef Samaan    male  16.00                        2                        0   21.6792
48          0       3                                       Mrs. Josef (Josefine Franchi) Arnold-Franchi  female  18.00                        1                        0   17.8000
49          0       3                                                          Master. Juha Niilo Panula    male   7.00                        4                        1   39.6875
50          0       3                                                        Mr. Richard Cater Nosworthy    male  21.00                        0                        0    7.8000
51          1       1                                            Mrs. Henry Sleeper (Myna Haxtun) Harper  female  49.00                        1                        0   76.7292
52          1       2                                  Mrs. Lizzie (Elizabeth Anne Wilkinson) Faunthorpe  female  29.00                        1                        0   26.0000
53          0       1                                                      Mr. Engelhart Cornelius Ostby    male  65.00                        0                        1   61.9792
54          1       1                                                                   Mr. Hugh Woolner    male  46.00                        0                        0   35.5000
55          1       2                                                                   Miss. Emily Rugg  female  21.00                        0                        0   10.5000
56          0       3                                                                 Mr. Mansouer Novel    male  28.50                        0                        0    7.2292
57          1       2                                                        Miss. Constance Mirium West  female   5.00                        1                        2   27.7500
58          0       3                                                  Master. William Frederick Goodwin    male  11.00                        5                        2   46.9000
59          0       3                                                               Mr. Orsen Sirayanian    male  22.00                        0                        0    7.2292
60          1       1                                                                 Miss. Amelie Icard  female  38.00                        0                        0   80.0000
61          0       1                                                         Mr. Henry Birkhardt Harris    male  45.00                        1                        0   83.4750
62          0       3                                                               Master. Harald Skoog    male   4.00                        3                        2   27.9000
63          0       1                                                               Mr. Albert A Stewart    male  64.00                        0                        0   27.7208
64          1       3                                                            Master. Gerios Moubarek    male   7.00                        1                        1   15.2458
65          1       2                                                        Mrs. (Elizabeth Ramell) Nye  female  29.00                        0                        0   10.5000
66          0       3                                                            Mr. Ernest James Crease    male  19.00                        0                        0    8.1583
67          1       3                                                     Miss. Erna Alexandra Andersson  female  17.00                        4                        2    7.9250
68          0       3                                                                   Mr. Vincenz Kink    male  26.00                        2                        0    8.6625
69          0       2                                                          Mr. Stephen Curnow Jenkin    male  32.00                        0                        0   10.5000
70          0       3                                                          Miss. Lillian Amy Goodwin  female  16.00                        5                        2   46.9000
71          0       2                                                                Mr. Ambrose Jr Hood    male  21.00                        0                        0   73.5000
72          0       3                                                         Mr. Apostolos Chronopoulos    male  26.00                        1                        0   14.4542
73          1       3                                                                       Mr. Lee Bing    male  32.00                        0                        0   56.4958
74          0       3                                                             Mr. Sigurd Hansen Moen    male  25.00                        0                        0    7.6500
75          0       3                                                                   Mr. Ivan Staneff    male  23.00                        0                        0    7.8958
76          0       3                                                            Mr. Rahamin Haim Moutal    male  28.00                        0                        0    8.0500
77          1       2                                                       Master. Alden Gates Caldwell    male   0.83                        0                        2   29.0000
78          1       3                                                            Miss. Elizabeth Dowdell  female  30.00                        0                        0   12.4750
79          0       3                                                                Mr. Achille Waelens    male  22.00                        0                        0    9.0000
80          1       3                                                         Mr. Jan Baptist Sheerlinck    male  29.00                        0                        0    9.5000
81          1       3                                                      Miss. Brigdet Delia McDermott  female  31.00                        0                        0    7.7875
82          0       1                                                             Mr. Francisco M Carrau    male  28.00                        0                        0   47.1000
83          1       2                                                                 Miss. Bertha Ilett  female  17.00                        0                        0   10.5000
84          1       3                             Mrs. Karl Alfred (Maria Mathilda Gustafsson) Backstrom  female  33.00                        3                        0   15.8500
85          0       3                                                              Mr. William Neal Ford    male  16.00                        1                        3   34.3750
86          0       3                                                       Mr. Selman Francis Slocovski    male  20.00                        0                        0    8.0500
87          1       1                                                          Miss. Mabel Helen Fortune  female  23.00                        3                        2  263.0000
88          0       3                                                              Mr. Francesco Celotti    male  24.00                        0                        0    8.0500
89          0       3                                                                Mr. Emil Christmann    male  29.00                        0                        0    8.0500
90          0       3                                                          Mr. Paul Edvin Andreasson    male  20.00                        0                        0    7.8542
91          0       1                                                         Mr. Herbert Fuller Chaffee    male  46.00                        1                        0   61.1750
92          0       3                                                             Mr. Bertram Frank Dean    male  26.00                        1                        2   20.5750
93          0       3                                                                   Mr. Daniel Coxon    male  59.00                        0                        0    7.2500
94          0       3                                                         Mr. Charles Joseph Shorney    male  22.00                        0                        0    8.0500
95          0       1                                                           Mr. George B Goldschmidt    male  71.00                        0                        0   34.6542
96          1       1                                                     Mr. William Bertram Greenfield    male  23.00                        0                        1   63.3583
97          1       2                                                Mrs. John T (Ada Julia Bone) Doling  female  34.00                        0                        1   23.0000
98          0       2                                                                   Mr. Sinai Kantor    male  34.00                        1                        0   26.0000
99          0       3                                                             Miss. Matilda Petranec  female  28.00                        0                        0    7.8958
100         0       3                                                                Mr. Pastcho Petroff    male  29.00                        0                        0    7.8958
101         0       1                                                           Mr. Richard Frasar White    male  21.00                        0                        1   77.2875
102         0       3                                                          Mr. Gustaf Joel Johansson    male  33.00                        0                        0    8.6542
103         0       3                                                      Mr. Anders Vilhelm Gustafsson    male  37.00                        2                        0    7.9250
104         0       3                                                               Mr. Stoytcho Mionoff    male  28.00                        0                        0    7.8958
105         1       3                                                    Miss. Anna Kristine Salkjelsvik  female  21.00                        0                        0    7.6500
106         1       3                                                              Mr. Albert Johan Moss    male  29.00                        0                        0    7.7750
107         0       3                                                                     Mr. Tido Rekic    male  38.00                        0                        0    7.8958
108         1       3                                                                 Miss. Bertha Moran  female  28.00                        1                        0   24.1500
109         0       1                                                      Mr. Walter Chamberlain Porter    male  47.00                        0                        0   52.0000

# pokemon data

# The Universirty of Arizona
# Department of Computer Science

CSc 120: Pokemon data analysis

https://www2.cs.arizona.edu/classes/cs120/fall17/ASSIGNMENTS/assg02/pokemon.html

In [ ]:
df2 = pd.read_csv('https://www2.cs.arizona.edu/classes/cs120/fall17/ASSIGNMENTS/assg02/Pokemon.csv')

In [ ]:
print(df2)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

head

tail

information

describe

In [ ]:
df2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
df2.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [ ]:
df2.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [ ]:
! pip install skimpy

Requirement already satisfied: skimpy in /usr/local/lib/python3.10/dist-packages (0.0.15)
Requirement already satisfied: Pygments<3.0.0,>=2.10.0 in /usr/local/lib/python3.10/dist-packages (from skimpy) (2.16.1)
Requirement already satisfied: click<9.0.0,>=8.1.6 in /usr/local/lib/python3.10/dist-packages (from skimpy) (8.1.7)
Requirement already satisfied: ipykernel<7.0.0,>=6.7.0 in /usr/local/lib/python3.10/dist-packages (from skimpy) (6.29.5)
Requirement already satisfied: numpy<2.0.0,>=1.22.2 in /usr/local/lib/python3.10/dist-packages (from skimpy) (1.26.4)
Requirement already satisfied: pandas<3.0.0,>=2.0.3 in /usr/local/lib/python3.10/dist-packages (from skimpy) (2.1.4)
Requirement already satisfied: polars<0.21,>=0.19 in /usr/local/lib/python3.10/dist-packages (from skimpy) (0.20.2)
Requirement already satisfied: pyarrow<17,>=13 in /usr/local/lib/python3.10/dist-packages (from skimpy) (14.0.2)
Requirement already satisfied: rich<14.0,>=10.9 in /usr/local/lib/python3.10/dist-packages (from skimpy) (13.7.1)
Requirement already satisfied: typeguard==4.2.1 in /usr/local/lib/python3.10/dist-packages (from skimpy) (4.2.1)
Requirement already satisfied: typing-extensions>=4.10.0 in /usr/local/lib/python3.10/dist-packages (from typeguard==4.2.1->skimpy) (4.12.2)
Requirement already satisfied: comm>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.2)
Requirement already satisfied: debugpy>=1.6.5 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.6.6)
Requirement already satisfied: ipython>=7.23.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (7.34.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (6.1.12)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (0.1.7)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (1.6.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (24.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.9.5)
Requirement already satisfied: pyzmq>=24 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (24.0.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (6.3.3)
Requirement already satisfied: traitlets>=5.4.0 in /usr/local/lib/python3.10/dist-packages (from ipykernel<7.0.0,>=6.7.0->skimpy) (5.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=2.0.3->skimpy) (2024.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich<14.0,>=10.9->skimpy) (3.0.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (71.0.4)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (3.0.47)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (4.9.0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel<7.0.0,>=6.7.0->skimpy) (4.2.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich<14.0,>=10.9->skimpy) (0.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=2.0.3->skimpy) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel<7.0.0,>=6.7.0->skimpy) (0.2.13)

In [ ]:
from skimpy import skim
skim (df2)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 800    │ │ int64       │ 9     │                                                          │
│ │ Number of columns │ 13     │ │ string      │ 3     │                                                          │
│ └───────────────────┴────────┘ │ bool        │ 1     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━━┳━━━━━━━━━┓  │
│ ┃ column_name     ┃ NA   ┃ NA %   ┃ mean    ┃ sd      ┃ p0    ┃ p25     ┃ p50     ┃ p75    ┃ p100  ┃ hist    ┃  │
│ ┡━━━━━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━━╇━━━━━━━━━┩  │
│ │ #               │    0 │      0 │   362.8 │   208.3 │     1 │   184.8 │   364.5 │  539.2 │   721 │ ▇▇▇▇▇▇  │  │
│ │ Total           │    0 │      0 │   435.1 │     120 │   180 │     330 │     450 │    515 │   780 │ ▂▇▇▇▃▁  │  │
│ │ HP              │    0 │      0 │   69.26 │   25.53 │     1 │      50 │      65 │     80 │   255 │   ▁▇▂   │  │
│ │ Attack          │    0 │      0 │      79 │   32.46 │     5 │      55 │      75 │    100 │   190 │  ▂▇▇▅▂  │  │
│ │ Defense         │    0 │      0 │   73.84 │   31.18 │     5 │      50 │      70 │     90 │   230 │  ▂▇▅▁   │  │
│ │ Sp. Atk         │    0 │      0 │   72.82 │   32.72 │    10 │   49.75 │      65 │     95 │   194 │  ▃▇▅▃▁  │  │
│ │ Sp. Def         │    0 │      0 │    71.9 │   27.83 │    20 │      50 │      70 │     90 │   230 │  ▅▇▃▁   │  │
│ │ Speed           │    0 │      0 │   68.28 │   29.06 │     5 │      45 │      65 │     90 │   180 │  ▃▇▇▅▁  │  │
│ │ Generation      │    0 │      0 │   3.324 │   1.661 │     1 │       2 │       3 │      5 │     6 │ ▇▅▇▆▇▃  │  │
│ └─────────────────┴──────┴────────┴─────────┴─────────┴───────┴─────────┴─────────┴────────┴───────┴─────────┘  │
│                                                      bool                                                       │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name                        ┃ true            ┃ true rate                     ┃ hist                ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ Legendary                          │              65 │                         0.081 │       ▇    ▁        │  │
│ └────────────────────────────────────┴─────────────────┴───────────────────────────────┴─────────────────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━┳━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name              ┃ NA       ┃ NA %         ┃ words per row               ┃ total words             ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━╇━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ Name                     │        0 │            0 │                         1.1 │                     899 │  │
│ │ Type 1                   │        0 │            0 │                           1 │                     800 │  │
│ │ Type 2                   │      386 │        48.25 │                        0.52 │                     414 │  │
│ └──────────────────────────┴──────────┴──────────────┴─────────────────────────────┴─────────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

In [ ]:
! pip install summarytools

Requirement already satisfied: summarytools in /usr/local/lib/python3.10/dist-packages (0.3.0)
Requirement already satisfied: pandas>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from summarytools) (2.1.4)
Requirement already satisfied: ipython>=7.20.0 in /usr/local/lib/python3.10/dist-packages (from summarytools) (7.34.0)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.10/dist-packages (from summarytools) (1.26.4)
Requirement already satisfied: matplotlib>=3.3.0 in /usr/local/lib/python3.10/dist-packages (from summarytools) (3.7.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.20.0->summarytools) (71.0.4)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.20.0->summarytools) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=7.20.0->summarytools) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=7.20.0->summarytools) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.20.0->summarytools) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.20.0->summarytools) (3.0.47)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=7.20.0->summarytools) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=7.20.0->summarytools) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=7.20.0->summarytools) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=7.20.0->summarytools) (4.9.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->summarytools) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->summarytools) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->summarytools) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->summarytools) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->summarytools) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->summarytools) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->summarytools) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.3.0->summarytools) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.4.0->summarytools) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.4.0->summarytools) (2024.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=7.20.0->summarytools) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=7.20.0->summarytools) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.20.0->summarytools) (0.2.13)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib>=3.3.0->summarytools) (1.16.0)

In [ ]:
from summarytools import dfSummary

dfSummary(df2)

In [ ]:
max_value = df2['Total'].max()
print(max_value)

780

In [ ]:
#empty

Pandas DataFrame Group By, Mean, Sort by Average in Descending Order, and Print First Row

In [ ]:
average_total = df2.groupby('Type 1')['Total'].mean()
print(average_total)

Type 1
Bug         378.927536
Dark        445.741935
Dragon      550.531250
Electric    443.409091
Fairy       413.176471
Fighting    416.444444
Fire        458.076923
Flying      485.000000
Ghost       439.562500
Grass       421.142857
Ground      437.500000
Ice         433.458333
Normal      401.683673
Poison      399.142857
Psychic     475.947368
Rock        453.750000
Steel       487.703704
Water       430.455357
Name: Total, dtype: float64

In [ ]:
grouped = df2.groupby('Type 1')
mean_values = grouped['Total'].mean()
sorted_mean_values = mean_values.sort_values(ascending=False)
print(sorted_mean_values)

Type 1
Dragon      550.531250
Steel       487.703704
Flying      485.000000
Psychic     475.947368
Fire        458.076923
Rock        453.750000
Dark        445.741935
Electric    443.409091
Ghost       439.562500
Ground      437.500000
Ice         433.458333
Water       430.455357
Grass       421.142857
Fighting    416.444444
Fairy       413.176471
Normal      401.683673
Poison      399.142857
Bug         378.927536
Name: Total, dtype: float64

In [ ]:
print(sorted_mean_values.head(1))

Type 1
Dragon    550.53125
Name: Total, dtype: float64

In [ ]:
print(sorted_mean_values.index[0])

Dragon

*[jump to code cell 2](#cell2)

[Top](#)

[<i class="fa fa-arrow-up" aria-hidden="true"></i> Back to Top](#)

[Go to Data Analysis Section](#data-analysis-section)