<a href="https://colab.research.google.com/github/anumit-web/ML-Masterlist-2024/blob/main/Pandas/Pandas_Masterlist_3_cleaning_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

# Cleaning data

In [19]:
import pandas as pd

# create a sample dataframe
data = {'Name': ['John', 'Anna', None, 'Linda'],
        'Age': [28, 24, 35, None]}
df = pd.DataFrame(data)

print(df)

    Name   Age
0   John  28.0
1   Anna  24.0
2   None  35.0
3  Linda   NaN

In [20]:
# remove rows with missing values
df = df.dropna()

print(df)

   Name   Age
0  John  28.0
1  Anna  24.0

In [21]:
import pandas as pd

# create a sample dataframe
data = {'Name': ['John', 'Anna', None, 'Linda'],
        'Age': [28, 24, 35, None]}
df = pd.DataFrame(data)

print(df)

    Name   Age
0   John  28.0
1   Anna  24.0
2   None  35.0
3  Linda   NaN

In [22]:
# replace missing values with a specified value
df = df.fillna('Unknown')

print(df)

      Name      Age
0     John     28.0
1     Anna     24.0
2  Unknown     35.0
3    Linda  Unknown

In [23]:
import pandas as pd

# create a sample dataframe
data = {'Name': ['John', 'Anna', None, 'Linda'],
        'Age': [28, 24, 35, None]}
df = pd.DataFrame(data)

print(df)

    Name   Age
0   John  28.0
1   Anna  24.0
2   None  35.0
3  Linda   NaN

In [24]:
# replace missing values with a dictionary of values
df = df.fillna({'Name': 'Unknown', 'Age': 0})

print(df)

      Name   Age
0     John  28.0
1     Anna  24.0
2  Unknown  35.0
3    Linda   0.0

In [25]:
import pandas as pd

# create a sample dataframe
data = {'Name': ['John', 'Anna', None, 'Linda'],
        'Age': [28, 24, 35, None]}
df = pd.DataFrame(data)

print(df)

    Name   Age
0   John  28.0
1   Anna  24.0
2   None  35.0
3  Linda   NaN

In [26]:
# replace missing values with a dictionary of values
df = df.fillna({'Name': 'Unknown'})

print(df)

      Name   Age
0     John  28.0
1     Anna  24.0
2  Unknown  35.0
3    Linda   NaN