<a href="https://colab.research.google.com/github/anumit-web/ML-Masterlist-2024/blob/main/Pandas/Pandas_Masterlist_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [8]:
print("Hello World")

Hello World

# The Pandas Series Object

In [9]:
import numpy as np
import pandas as pd

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [11]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [12]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
data[1]

0.5

In [14]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [16]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [17]:
data['b']

0.5

In [18]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                         index=[2, 5, 3, 7])

In [19]:
data[5]

0.5

# Series as Specialized Dictionary