<a href="https://colab.research.google.com/github/anumit-web/ML-Masterlist-2024/blob/main/Pandas/Pandas_Masterlist_3_cleaning_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

# Cleaning data

In [1]:
import pandas as pd

# create a sample dataframe
data = {'Name': ['John', 'Anna', None, 'Linda'],
        'Age': [28, 24, 35, None]}
df = pd.DataFrame(data)

print(df)

    Name   Age
0   John  28.0
1   Anna  24.0
2   None  35.0
3  Linda   NaN

In [2]:
# remove rows with missing values
df = df.dropna()

print(df)

   Name   Age
0  John  28.0
1  Anna  24.0

In [3]:
import pandas as pd

# create a sample dataframe
data = {'Name': ['John', 'Anna', None, 'Linda'],
        'Age': [28, 24, 35, None]}
df = pd.DataFrame(data)

print(df)

    Name   Age
0   John  28.0
1   Anna  24.0
2   None  35.0
3  Linda   NaN